<app-sidebar></app-sidebar>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="inner-container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-main">
							<div class="content-sec">
								<h2 class="title">Agent Management</h2>
								<div class="form-sec dasboard-shift">
									<div class="row">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-12">
													<input type="submit" value="Add New" (click)="goToAgent()" class="btn btn-default theme-btn add pull-right">
												</div>
											</div>
											<div class="table-responsive">
												<table class="table table-bordered">
													<tr>
														<th>S.No.</th>
														<th>Agent Name</th>
														<th>Organization</th>
														<th>Email ID</th>
														<th>Phone No.</th>
														<th>VAT Registration No.</th>
														<th>Logged-In Date</th>
														<th>Status</th>
														<th>Email Verification</th>
														<th>Action</th>
													</tr>
													<tr>
														<td></td>
														<td><input type="text" (keyup)="searchUser()" [(ngModel)]="searchObject.agentName" placeholder="Search"></td>
														<td><input type="text" (keyup)="searchUser()" [(ngModel)]="searchObject.organization" placeholder="Search"></td>
														<td><input type="text" (keyup)="searchUser()" [(ngModel)]="searchObject.agentEmailId" placeholder="Search"></td>
														<td></td>
														<td><input type="text" (keyup)="searchUser()"
														  [(ngModel)]="searchObject.commercialRegistrationNo" placeholder="Search"></td>
														<td><input type="text" (keyup)="searchUser()" [(ngModel)]="searchObject.loggedinDate"
														  placeholder="Search by date"></td>
														<td>
															<div>
															  <select (change)="searchUser()" [(ngModel)]="searchObject.status">
															  	<option value="">All</option>
																<option *ngFor="let status of agentStatus | keyvalue" value="{{status.key}}">
																  {{status.value}}</option>
															  </select>
															</div>
														</td>
														<td></td>
														<td></td>
													</tr>
													<tr *ngFor="let agent of agentList | paginate: { itemsPerPage: 10,
													  currentPage: currPage, totalItems: totalItems };let i=index">
														<td>{{sNo+i+1}}</td>
														<td>{{agent.agentName}}</td>
														<td>{{agent.organization}}</td>
														<td>{{agent.agentEmailId}}</td>
														<td>{{agent.phoneNo}}</td>
														<td>{{agent.vatRegistrationNo}}</td>
														<td>{{agent.loggedinDate }}</td>
														<td>{{agentStatus[agent.status]}}</td>
														<td>{{agent.status == 1 ? 'NA' : agent.status == 2 ? 'APPROVE' : '--' }}</td>
														<td>
															<a [routerLink]="['/agentDetails',agent.agentId]">View</a>&nbsp;
															<a style="cursor: pointer;" (click)="openModal('#exampleModalCenter',agent)">Block</a>
														</td>
													</tr>
												</table>
												<pagination-controls (pageChange)="getAgentList({currPage:$event})"></pagination-controls>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLongTitle">Block</h3>
        
      </div>
      <div class="modal-body text-center">
        Are you sure you want to block {{blockingAgent.agentName}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="blockAgent()">YES</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>