<app-sidebar></app-sidebar>
<div class="container"> 
    <div class="grid-container">
      <div class="grid-item"><i class="fa fa-eye"></i>Daily Visits</div>
      <div class="grid-item"><i class="fa fa-users"></i>Number of users</div>
      <br>
      <div class="grid-item"><i class="fa fa-chart-bar"></i>Sales Today</div>
      <div class="grid-item"><i class="fa fa-hand-pointer"></i>Agent Subscriptions</div>
      <br>  
      <div class="grid-item"><i class="fa fa-shopping-cart"></i>Pending Orders</div>
      <div class="grid-item"><i class="fa dollar-sign"></i>Total Revenue</div>  
    </div>
</div>