<app-sidebar></app-sidebar>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="inner-container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<div class="inner-main">
							<form class="form-horizontal" [formGroup]="subCategoryForm" autocomplete="off">
								<div class="content-sec">
									<h2 class="title">{{ subCategoryid!=0 ? 'Edit' : 'Add' }} Sub-Category</h2>
									<div class="form-sec">
										<div class="row">
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Parent Category Name</label>
														<div class="col-sm-8">
															<div class="select-style">
															  <select formControlName="categoryName">
															  	<option value="">--Select Category--</option>
																<option *ngFor="let parent of parentCategoryList" value="{{parent.categoryId}}">
																  {{parent.categoryName.split(',')[0]}}</option>
															  </select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Category Name Arabic</label>
														<div class="col-sm-8">
															<div class="select-style">
															  <select formControlName="categoryNameArabic">
															  	<option value="">--Select Category--</option>
																<option *ngFor="let parent of parentCategoryList" value="{{parent.categoryId}}">
																  {{parent.categoryName.split(',')[1]}}</option>
															  </select>
															</div>
														</div>
													</div>
											    </div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Sub-Category Name</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" formControlName="subCategoryName">
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Sub-Category Name Arabic</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" formControlName="subCategoryNameArabic">
														</div>
													</div>
											    </div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Description</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" formControlName="description">
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Description Arabic</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" formControlName="descriptionArabic">
														</div>
													</div>
											    </div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Slug</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" formControlName="slug">
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">Slug Arabic</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" formControlName="slugArabic">
														</div>
													</div>
											    </div>
											</div>
										</div>
										<div class="button-center">
										  <button class="btn btn-default theme-btn" *ngIf="subCategoryid==0" [disabled]="!subCategoryForm.valid"
										    (click)="addSubCategory()">Save</button>
										  <button class="btn btn-default theme-btn" *ngIf="subCategoryid" [disabled]="!subCategoryForm.valid"
										    (click)="editSubCategory()">Edit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>